<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztyj6.fs.dao.AuditStateMapper" >
  <resultMap id="BaseResultMap" type="com.ztyj6.fs.model.AuditState" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Operator" property="operator" jdbcType="INTEGER" />
    <result column="Prover" property="prover" jdbcType="INTEGER" />
    <result column="Auditor1" property="auditor1" jdbcType="INTEGER" />
    <result column="Auditor2" property="auditor2" jdbcType="INTEGER" />
    <result column="Dearer" property="dearer" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Operator, Prover, Auditor1, Auditor2, Dearer
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AuditState
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AuditState
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ztyj6.fs.model.AuditState" >
    insert into AuditState (Id, Operator, Prover, 
      Auditor1, Auditor2, Dearer)
    values (#{id,jdbcType=INTEGER}, #{operator,jdbcType=INTEGER}, #{prover,jdbcType=INTEGER}, 
      #{auditor1,jdbcType=INTEGER}, #{auditor2,jdbcType=INTEGER}, #{dearer,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ztyj6.fs.model.AuditState" >
    insert into AuditState
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="operator != null" >
        Operator,
      </if>
      <if test="prover != null" >
        Prover,
      </if>
      <if test="auditor1 != null" >
        Auditor1,
      </if>
      <if test="auditor2 != null" >
        Auditor2,
      </if>
      <if test="dearer != null" >
        Dearer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="prover != null" >
        #{prover,jdbcType=INTEGER},
      </if>
      <if test="auditor1 != null" >
        #{auditor1,jdbcType=INTEGER},
      </if>
      <if test="auditor2 != null" >
        #{auditor2,jdbcType=INTEGER},
      </if>
      <if test="dearer != null" >
        #{dearer,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
	</selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztyj6.fs.model.AuditState" >
    update AuditState
    <set >
      <if test="operator != null" >
        Operator = #{operator,jdbcType=INTEGER},
      </if>
      <if test="prover != null" >
        Prover = #{prover,jdbcType=INTEGER},
      </if>
      <if test="auditor1 != null" >
        Auditor1 = #{auditor1,jdbcType=INTEGER},
      </if>
      <if test="auditor2 != null" >
        Auditor2 = #{auditor2,jdbcType=INTEGER},
      </if>
      <if test="dearer != null" >
        Dearer = #{dearer,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztyj6.fs.model.AuditState" >
    update AuditState
    set Operator = #{operator,jdbcType=INTEGER},
      Prover = #{prover,jdbcType=INTEGER},
      Auditor1 = #{auditor1,jdbcType=INTEGER},
      Auditor2 = #{auditor2,jdbcType=INTEGER},
      Dearer = #{dearer,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>