<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztyj6.fs.dao.InvoiceDetailsMapper">
  <resultMap id="BaseResultMap" type="com.ztyj6.fs.model.InvoiceDetails">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Content1" jdbcType="VARCHAR" property="content1" />
    <result column="Content2" jdbcType="VARCHAR" property="content2" />
    <result column="Content3" jdbcType="VARCHAR" property="content3" />
    <result column="Content4" jdbcType="VARCHAR" property="content4" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Content1, Content2, Content3, Content4
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invoicedetails
    where Id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectMaxID" parameterType="java.lang.Integer" resultType="INTEGER">
  select max(id) from invoicedetails
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from invoicedetails
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ztyj6.fs.model.InvoiceDetails">
    insert into invoicedetails (Id, Content1, Content2, 
      Content3, Content4)
    values (#{id,jdbcType=INTEGER}, #{content1,jdbcType=VARCHAR}, #{content2,jdbcType=VARCHAR}, 
      #{content3,jdbcType=VARCHAR}, #{content4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztyj6.fs.model.InvoiceDetails">
    insert into invoicedetails
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="content1 != null">
        Content1,
      </if>
      <if test="content2 != null">
        Content2,
      </if>
      <if test="content3 != null">
        Content3,
      </if>
      <if test="content4 != null">
        Content4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content1 != null">
        #{content1,jdbcType=VARCHAR},
      </if>
      <if test="content2 != null">
        #{content2,jdbcType=VARCHAR},
      </if>
      <if test="content3 != null">
        #{content3,jdbcType=VARCHAR},
      </if>
      <if test="content4 != null">
        #{content4,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
	</selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztyj6.fs.model.InvoiceDetails">
    update invoicedetails
    <set>
      <if test="content1 != null">
        Content1 = #{content1,jdbcType=VARCHAR},
      </if>
      <if test="content2 != null">
        Content2 = #{content2,jdbcType=VARCHAR},
      </if>
      <if test="content3 != null">
        Content3 = #{content3,jdbcType=VARCHAR},
      </if>
      <if test="content4 != null">
        Content4 = #{content4,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztyj6.fs.model.InvoiceDetails">
    update invoicedetails
    set Content1 = #{content1,jdbcType=VARCHAR},
      Content2 = #{content2,jdbcType=VARCHAR},
      Content3 = #{content3,jdbcType=VARCHAR},
      Content4 = #{content4,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>

</mapper>