<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztyj6.fs.dao.SiteMapper">
	<resultMap id="BaseResultMap" type="com.ztyj6.fs.model.Site">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="Address" property="address" jdbcType="VARCHAR" />
		<result column="CreateDate" property="createDate" jdbcType="TIMESTAMP" />
		<result column="UserId" property="userId" jdbcType="INTEGER" />
		<result column="CreatePurpose" property="createPurpose"
			jdbcType="VARCHAR" />
		<result column="ProjectName" property="projectName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		Id, Name, Address, CreateDate, UserId, CreatePurpose,
		ProjectName
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from site
		where Id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from site
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from site
		where Id = #{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from site where Id in
		<foreach collection="list" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<insert id="insert" parameterType="com.ztyj6.fs.model.Site">
		insert into site (Id, Name,
		Address,
		CreateDate, UserId, CreatePurpose,
		ProjectName)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{userId,jdbcType=INTEGER}, #{createPurpose,jdbcType=VARCHAR},
		#{projectName,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.ztyj6.fs.model.Site">
		insert into site
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="address != null">
				Address,
			</if>
			<if test="createDate != null">
				CreateDate,
			</if>
			<if test="userId != null">
				UserId,
			</if>
			<if test="createPurpose != null">
				CreatePurpose,
			</if>
			<if test="projectName != null">
				ProjectName,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="createPurpose != null">
				#{createPurpose,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.ztyj6.fs.model.Site">
		update site
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				Address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CreateDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				UserId = #{userId,jdbcType=INTEGER},
			</if>
			<if test="createPurpose != null">
				CreatePurpose = #{createPurpose,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				ProjectName = #{projectName,jdbcType=VARCHAR},
			</if>
		</set>
		where Id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.ztyj6.fs.model.Site">
		update site
		set
		Name = #{name,jdbcType=VARCHAR},
		Address = #{address,jdbcType=VARCHAR},
		CreateDate = #{createDate,jdbcType=TIMESTAMP},
		UserId =
		#{userId,jdbcType=INTEGER},
		CreatePurpose =
		#{createPurpose,jdbcType=VARCHAR},
		ProjectName =
		#{projectName,jdbcType=VARCHAR}
		where Id = #{id,jdbcType=INTEGER}
	</update>

	<sql id="SiteUser_Base_Column_List">
		Id,SiteId,UserId,PostId
	</sql>
	<!-- <insert id="insertUserSite"> insert into r_site_user <trim prefix="(" 
		suffix=")" suffixOverrides=","> <if test="siteId != null"> SiteId, </if> 
		<if test="userId != null"> UserId, </if> <if test="postId != null"> PostId, 
		</if> </trim> <trim prefix="values (" suffix=")" suffixOverrides=","> <if 
		test="siteId != null"> #{siteId,jdbcType=INTEGER}, </if> <if test="userId 
		!= null"> #{userId,jdbcType=INTEGER}, </if> <if test="postId != null"> #{postId,jdbcType=INTEGER}, 
		</if> </trim> </insert> -->
	<insert id="insertUserSite">
		insert into r_site_user (SiteId, UserId,
		PostId)
		values (
		#{map.siteId,jdbcType=INTEGER},
		#{map.userId,jdbcType=INTEGER},
		#{map.postId,jdbcType=INTEGER}
		)
	</insert>

	<delete id="deleteUserSite">
		delete from r_site_user
		where
		r_site_user.SiteId =
		#{siteId,jdbcType=INTEGER}
		and
		r_site_user.UserId =
		#{userId,jdbcType=INTEGER}
	</delete>

	<delete id="deleteBatchUserSite">
		delete from r_site_user
		where
		SiteId = #{siteId,jdbcType=INTEGER}
		and
		UserId in
		<foreach collection="ids" item="userId" open="(" separator=","
			close=")">
			#{userId}
		</foreach>
	</delete>
	<resultMap id="userResultMap" type="com.ztyj6.fs.model.Site"
		extends="BaseResultMap">
		<collection property="users" javaType="list"
			ofType="com.ztyj6.fs.model.User">
			<id property="id" column="userId" />
			<result property="username" column="userName" />
			<result property="password" column="password" />
			<result property="realname" column="realName" />
			<result property="phone" column="phone" />
			<result property="email" column="email" />
			<result property="lastLoginDate" column="lastLoginDate" />
			<result property="lastLoginIp" column="lastLoginIp" />
			<result property="createIp" column="createIp" />
			<result property="createDate" column="createDate" />
			<result property="isEnable" column="isEnable" />
			<result property="parentId" column="parentId" />
			<result property="balanceId" column="balanceId" />
		</collection>
		<collection property="posts" javaType="list"
			ofType="com.ztyj6.fs.model.Post">
			<id property="id" column="postId" />
			<result property="name" column="postName" />
		</collection>
	</resultMap>
	<select id="selectUsersByPage" resultMap="userResultMap">
		SELECT
		site.Id siteId,
		site.Name siteName,
		site.Address siteAddress,
		site.CreateDate siteCreateDate,
		site.UserId siteUserId,
		site.CreatePurpose,
		site.ProjectName,
		r_site_user.Id rId,
		r_site_user.SiteId rSiteId,
		r_site_user.UserId rUserId,
		r_site_user.PostId rPostId,
		post.Id postId,
		post.Name postName,
		user.Id userId,
		user.UserName userName,
		user.Password password,
		user.RealName realName,
		user.Phone phone,
		user.Email email,
		user.LastLoginDate lastLoginDate,
		user.LastLoginIp lastLoginIP,
		user.CreateIp createIp,
		user.CreateDate createDate,
		user.IsEnable
		isEnable,
		user.ParentId parentId,
		user.BalanceId balanceId
		FROM
		site
		JOIN r_site_user ON r_site_user.SiteId = #{siteId,jdbcType=INTEGER} and
		site.Id = #{siteId,jdbcType=INTEGER}
		JOIN post ON r_site_user.PostId = post.Id
		JOIN user ON r_site_user.UserId =
		user.Id
	</select>
</mapper>