<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<!-- 在使用join方式查询时 无法实现懒加载 下面的配置无效 -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="cacheEnabled" value="true"/>
	</settings> 
	<plugins>
		<plugin
			interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
			<property name="dialectClass"
				value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect" />
		</plugin>
	</plugins>
</configuration>