<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<http security="none" pattern="/login.jsp*" />
	<http security="none" pattern="/register.jsp*" />
	<!-- <http security="none" pattern="/userController/register.do*" /> -->
	<http security="none" pattern="/common/**" />
	<http security="none" pattern="/**/*.js" />
	<http security="none" pattern="/**/*.css" />
	<http security="none" pattern="/**/*.jpg" />
	<http security="none" pattern="/**/*.gif" />
	<http security="none" pattern="/**/*.png" />

	<http auto-config="false" use-expressions="true" entry-point-ref="myAuthenticationEntryPoint" access-denied-page="/common/403.html" access-decision-manager-ref="accessDecisionManager" create-session="never">
		<intercept-url pattern="/**" access="isAuthenticated()" />
		<anonymous enabled="false" />
		<logout logout-success-url="/login.jsp" logout-url="/logout.do" invalidate-session="true" delete-cookies="JSESSIONID" />
		<!-- 自定义过滤链 -->
		<custom-filter ref="myUsernamePasswordAuthenticationFilter" position="FORM_LOGIN_FILTER" />
	</http>

	<!-- 自定义UserDetailsService服务 -->
	<beans:bean id="myUserDetailsService" class="com.ztyj6.fs.security.service.MyUserDetailsService" />

	<!-- 自定义资源权限关系集合 -->
	<beans:bean id="mySecurityMetadataSource" class="com.ztyj6.fs.security.service.MySecurityMetadataSource" />

	<beans:bean id="webExpressionVoter" class="org.springframework.security.web.access.expression.WebExpressionVoter" />
	
	<!-- 自定义投票器 -->
	<beans:bean id="myVote" class="com.ztyj6.fs.security.service.MyVoter" >
		<beans:property name="mySecurityMetadataSource" ref="mySecurityMetadataSource" />
	</beans:bean>

	<!-- 使用自带的AccessDecisionManager -->
	<beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
		<beans:constructor-arg name="decisionVoters">
			<beans:list>
				<beans:ref bean="webExpressionVoter" />
				<!-- use-expressions="false" 时开启 -->
				<!-- <beans:ref bean="roleVoter" /> -->
				<beans:ref bean="myVote" />
			</beans:list>
		</beans:constructor-arg>
	</beans:bean>

	<!-- 自定义认证管理,资源,权限 -->
	<beans:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="myAuthenticationManager" />
		<beans:property name="accessDecisionManager" ref="accessDecisionManager" />
		<beans:property name="securityMetadataSource" ref="mySecurityMetadataSource" />
	</beans:bean>

	<!-- 登录认证过滤器 -->
	<beans:bean id="myUsernamePasswordAuthenticationFilter" class="com.ztyj6.fs.security.service.MyUsernamePasswordAuthenticationFilter">
		<beans:property name="authenticationManager" ref="myAuthenticationManager" />
		<beans:property name="usernameParameter" value="username" />
		<beans:property name="passwordParameter" value="password" />
		<beans:property name="validateCodeParameter" value="validateCode" />
		<beans:property name="openValidateCode" value="false" />
		<beans:property name="filterProcessesUrl" value="/login.do" />
		<beans:property name="authenticationSuccessHandler">
			<beans:bean class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
				<beans:property name="defaultTargetUrl" value="/admin/index.jsp" />
				<beans:property name="redirectStrategy" ref="myRedirectStrategy" />
			</beans:bean>
		</beans:property>
		<beans:property name="authenticationFailureHandler">
			<beans:bean class="com.ztyj6.fs.security.handler.LoginFailureHandler">
				<beans:property name="timeoutUrl" value="/common/timeout.html" />
			</beans:bean>
		</beans:property>
	</beans:bean>

	<!-- 自定义跳转策略类 -->
	<beans:bean id="myRedirectStrategy" class="com.ztyj6.fs.security.service.MyRedirectStrategy" />

	<authentication-manager alias="myAuthenticationManager">
		<authentication-provider ref="authenticationProvider" />
	</authentication-manager>

	<!-- 主要需要设置 hideUserNotFoundExceptions -->
	<beans:bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="myUserDetailsService" />
		<beans:property name="hideUserNotFoundExceptions" value="false" />
		<beans:property name="passwordEncoder" ref="passwordEncoder" />
		<beans:property name="saltSource" ref="saltSource" />
	</beans:bean>

	<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

	<!-- 配置加密盐值 -->
	<beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<beans:property name="userPropertyToUse" value="username" />
	</beans:bean>

	<!-- 未登录的切入点 -->
	<beans:bean id="myAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login.jsp"></beans:property>
	</beans:bean>

	<!-- SESSION信息库 -->
	<beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
</beans:beans>