<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztyj6.fs.dao.InvoiceMapper">
	<resultMap id="BaseResultMap" type="com.ztyj6.fs.model.Invoice">
		<id column="AuditStateId" jdbcType="INTEGER" property="auditstateid" />
		<id column="Auditor1Id" jdbcType="INTEGER" property="auditor1id" />
		<id column="Auditor2Id" jdbcType="INTEGER" property="auditor2id" />
		<id column="DearerId" jdbcType="INTEGER" property="dearerid" />
		<id column="Id" jdbcType="INTEGER" property="id" />
		<id column="InvoiceDetailsId" jdbcType="INTEGER" property="invoicedetailsid" />
		<id column="InvoiceTypeId" jdbcType="INTEGER" property="invoicetypeid" />
		<id column="OperatorId" jdbcType="INTEGER" property="operatorid" />
		<id column="ProverId" jdbcType="INTEGER" property="proverid" />
		<result column="CreateDate" jdbcType="TIMESTAMP" property="createDate" />
		<result column="OccurDate" jdbcType="TIMESTAMP" property="occurDate" />
		<result column="Content" jdbcType="VARCHAR" property="content" />
		<result column="Money" jdbcType="DECIMAL" property="money" />
		<result column="Penalty" jdbcType="DECIMAL" property="penalty" />
		<result column="Description" jdbcType="VARCHAR" property="description" />
		<result column="ProjectName" jdbcType="VARCHAR" property="projectName" />
		<result column="PhotoUrl" jdbcType="VARCHAR" property="photoUrl" />
		<result column="Remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		AuditStateId, Auditor1Id, Auditor2Id, DearerId, Id,
		InvoiceDetailsId,
		InvoiceTypeId,
		OperatorId, ProverId, CreateDate,
		OccurDate, Content, Money, Penalty,
		Description,
		ProjectName, PhotoUrl,
		Remark 
	</sql>
	<resultMap type="com.ztyj6.fs.model.Invoice" id="invoiceResultMap" extends="BaseResultMap">
	<association property="invoiceDetails" javaType="com.ztyj6.fs.model.InvoiceDetails">
	<id property="id" column="invoice_details_id"/>
	<result property="content1" column="invoice_details_content1"/>
	<result property="content2" column="invoice_details_content2"/>
	<result property="content3" column="invoice_details_content3"/>
	<result property="content4" column="invoice_details_content4"/>
	</association>
	<association property="invoiceType" javaType="com.ztyj6.fs.model.InvoiceType">
	<id property="id" column="invoice_type_id"/>
	<result property="name" column="invoice_type_name"/>
	</association>
	<association property="auditState" javaType="com.ztyj6.fs.model.AuditState">
	<id property="id" column="audit_state_id"/>
	<result property="operator" column="audti_state_operator"/>
	<result property="prover" column="audti_state_prover"/>
	<result property="auditor1" column="audti_state_auditor1"/>
	<result property="auditor2" column="audti_state_auditor2"/>
	<result property="dearer" column="audti_state_dearer"/>
	</association>
	</resultMap>
	<select id="getInvoiceAll" resultMap="invoiceResultMap">
		SELECT
		Invoice.Id,
		Invoice.CreateDate,
		Invoice.OccurDate,
		Invoice.Content,
		Invoice.Money,
		Invoice.Penalty,
		Invoice.Description,
		Invoice.InvoiceDetailsId,
		Invoice.InvoiceTypeId,
		Invoice.ProjectName,
		Invoice.OperatorId,
		Invoice.ProverId,
		Invoice.Auditor1Id,
		Invoice.Auditor2Id,
		Invoice.AuditStateId,
		Invoice.PhotoUrl,
		Invoice.Remark,
		Invoice.DearerId,
		InvoiceType.Id invoice_type_id,
		InvoiceType.`Name` invoice_type_name,
		InvoiceDetails.Id invoice_details_id,
		InvoiceDetails.Content1 invoice_details_content1,
		InvoiceDetails.Content2 invoice_details_content2,
		InvoiceDetails.Content3 invoice_details_content3,
		InvoiceDetails.Content4 invoice_details_content4,
		AuditState.Id audit_state_id,
		AuditState.Operator audti_state_operator,
		AuditState.Prover audti_state_prover,
		AuditState.Auditor1 audti_state_auditor1,
		AuditState.Auditor2 audti_state_auditor2,
		AuditState.Dearer audti_state_dearer
		FROM
		Invoice
		JOIN InvoiceType ON Invoice.InvoiceTypeId = InvoiceType.Id
		JOIN InvoiceDetails ON Invoice.InvoiceDetailsId = InvoiceDetails.Id
		JOIN AuditState ON Invoice.AuditStateId = AuditState.Id

	</select>
	
	<select id="selectByPage" resultMap="invoiceResultMap">
		SELECT
		Invoice.Id,
		Invoice.CreateDate,
		Invoice.OccurDate,
		Invoice.Content,
		Invoice.Money,
		Invoice.Penalty,
		Invoice.Description,
		Invoice.InvoiceDetailsId,
		Invoice.InvoiceTypeId,
		Invoice.ProjectName,
		Invoice.OperatorId,
		Invoice.ProverId,
		Invoice.Auditor1Id,
		Invoice.Auditor2Id,
		Invoice.AuditStateId,
		Invoice.PhotoUrl,
		Invoice.Remark,
		Invoice.DearerId,
		InvoiceType.Id invoice_type_id,
		InvoiceType.`Name` invoice_type_name,
		InvoiceDetails.Id invoice_details_id,
		InvoiceDetails.Content1 invoice_details_content1,
		InvoiceDetails.Content2 invoice_details_content2,
		InvoiceDetails.Content3 invoice_details_content3,
		InvoiceDetails.Content4 invoice_details_content4,
		AuditState.Id audit_state_id,
		AuditState.Operator audti_state_operator,
		AuditState.Prover audti_state_prover,
		AuditState.Auditor1 audti_state_auditor1,
		AuditState.Auditor2 audti_state_auditor2,
		AuditState.Dearer audti_state_dearer
		FROM
		Invoice
		JOIN InvoiceType ON Invoice.InvoiceTypeId = InvoiceType.Id
		JOIN InvoiceDetails ON Invoice.InvoiceDetailsId = InvoiceDetails.Id
		JOIN AuditState ON Invoice.AuditStateId = AuditState.Id
		
	</select>
	<select id="selectPageById" resultMap="invoiceResultMap">
		SELECT
		Invoice.Id,
		Invoice.CreateDate,
		Invoice.OccurDate,
		Invoice.Content,
		Invoice.Money,
		Invoice.Penalty,
		Invoice.Description,
		Invoice.InvoiceDetailsId,
		Invoice.InvoiceTypeId,
		Invoice.ProjectName,
		Invoice.OperatorId,
		Invoice.ProverId,
		Invoice.Auditor1Id,
		Invoice.Auditor2Id,
		Invoice.AuditStateId,
		Invoice.PhotoUrl,
		Invoice.Remark,
		Invoice.DearerId,
		InvoiceType.Id invoice_type_id,
		InvoiceType.`Name` invoice_type_name,
		InvoiceDetails.Id invoice_details_id,
		InvoiceDetails.Content1 invoice_details_content1,
		InvoiceDetails.Content2 invoice_details_content2,
		InvoiceDetails.Content3 invoice_details_content3,
		InvoiceDetails.Content4 invoice_details_content4,
		AuditState.Id audit_state_id,
		AuditState.Operator audti_state_operator,
		AuditState.Prover audti_state_prover,
		AuditState.Auditor1 audti_state_auditor1,
		AuditState.Auditor2 audti_state_auditor2,
		AuditState.Dearer audti_state_dearer
		FROM
		Invoice
		JOIN InvoiceType ON Invoice.InvoiceTypeId = InvoiceType.Id
		JOIN InvoiceDetails ON Invoice.InvoiceDetailsId = InvoiceDetails.Id
		JOIN AuditState ON Invoice.AuditStateId = AuditState.Id
		<where>
			ProverId=#{id,jdbcType=INTEGER}
			OR Auditor1Id=#{id,jdbcType=INTEGER}
			OR Auditor2Id=#{id,jdbcType=INTEGER}
			OR DearerId=#{id,jdbcType=INTEGER}
		</where>
	</select>
	
<select id="selectInvoiceCount" parameterType="java.lang.Integer" resultType="INTEGER">
  select count(*) from invoice
 </select>
 <select id="selectByFilter" resultMap="invoiceResultMap">
		SELECT
		Invoice.Id,
		Invoice.CreateDate,
		Invoice.OccurDate,
		Invoice.Content,
		Invoice.Money,
		Invoice.Penalty,
		Invoice.Description,
		Invoice.InvoiceDetailsId,
		Invoice.InvoiceTypeId,
		Invoice.ProjectName,
		Invoice.OperatorId,
		Invoice.ProverId,
		Invoice.Auditor1Id,
		Invoice.Auditor2Id,
		Invoice.AuditStateId,
		Invoice.PhotoUrl,
		Invoice.Remark,
		Invoice.DearerId,
		InvoiceType.Id invoice_type_id,
		InvoiceType.`Name` invoice_type_name,
		InvoiceDetails.Id invoice_details_id,
		InvoiceDetails.Content1 invoice_details_content1,
		InvoiceDetails.Content2 invoice_details_content2,
		InvoiceDetails.Content3 invoice_details_content3,
		InvoiceDetails.Content4 invoice_details_content4,
		AuditState.Id audit_state_id,
		AuditState.Operator audti_state_operator,
		AuditState.Prover audti_state_prover,
		AuditState.Auditor1 audti_state_auditor1,
		AuditState.Auditor2 audti_state_auditor2,
		AuditState.Dearer audti_state_dearer
		FROM
		Invoice
		JOIN InvoiceType ON Invoice.InvoiceTypeId = InvoiceType.Id
		JOIN InvoiceDetails ON Invoice.InvoiceDetailsId = InvoiceDetails.Id
		JOIN AuditState ON Invoice.AuditStateId = AuditState.Id  
		<where>
			Invoice.Id=#{id,jdbcType=INTEGER}
			<if test="pageFilter.keyword != null">
				and Invoice.Id like #{pageFilter.keyword,jdbcType=VARCHAR}
			</if>
			<if test="pageFilter.startTime != null and pageFilter.endTime != null">
				and Invoice.CreateDate between
				#{pageFilter.startTime,jdbcType=TIMESTAMP} and
				#{pageFilter.endTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>
 
 <select id="selectByPrimaryID" parameterType="com.ztyj6.fs.model.InvoiceKey"
		resultMap="invoiceResultMap">
		SELECT
		Invoice.Id,
		Invoice.CreateDate,
		Invoice.OccurDate,
		Invoice.Content,
		Invoice.Money,
		Invoice.Penalty,
		Invoice.Description,
		Invoice.InvoiceDetailsId,
		Invoice.InvoiceTypeId,
		Invoice.ProjectName,
		Invoice.OperatorId,
		Invoice.ProverId,
		Invoice.Auditor1Id,
		Invoice.Auditor2Id,
		Invoice.AuditStateId,
		Invoice.PhotoUrl,
		Invoice.Remark,
		Invoice.DearerId,
		InvoiceType.Id invoice_type_id,
		InvoiceType.`Name` invoice_type_name,
		InvoiceDetails.Id invoice_details_id,
		InvoiceDetails.Content1 invoice_details_content1,
		InvoiceDetails.Content2 invoice_details_content2,
		InvoiceDetails.Content3 invoice_details_content3,
		InvoiceDetails.Content4 invoice_details_content4,
		AuditState.Id audit_state_id,
		AuditState.Operator audti_state_operator,
		AuditState.Prover audti_state_prover,
		AuditState.Auditor1 audti_state_auditor1,
		AuditState.Auditor2 audti_state_auditor2,
		AuditState.Dearer audti_state_dearer
		FROM
		Invoice
		JOIN InvoiceType ON Invoice.InvoiceTypeId = InvoiceType.Id
		JOIN InvoiceDetails ON Invoice.InvoiceDetailsId = InvoiceDetails.Id
		JOIN AuditState ON Invoice.AuditStateId = AuditState.Id 
		where Invoice.Id = #{id,jdbcType=INTEGER}
	</select>
 
	<select id="selectByPrimaryKey" parameterType="com.ztyj6.fs.model.InvoiceKey"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Invoice
		where AuditStateId = #{auditstateid,jdbcType=INTEGER}
		and
		Auditor1Id = #{auditor1id,jdbcType=INTEGER}
		and Auditor2Id =
		#{auditor2id,jdbcType=INTEGER}
		and DearerId =
		#{dearerid,jdbcType=INTEGER}
		and Id = #{id,jdbcType=INTEGER}
		and
		InvoiceDetailsId = #{invoicedetailsid,jdbcType=INTEGER}
		and
		InvoiceTypeId = #{invoicetypeid,jdbcType=INTEGER}
		and OperatorId =
		#{operatorid,jdbcType=INTEGER}
		and ProverId =
		#{proverid,jdbcType=INTEGER}
	</select>
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from Invoice where Id in
		<foreach collection="list" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	<delete id="deleteByPrimaryKey" parameterType="com.ztyj6.fs.model.InvoiceKey">
		delete from
		Invoice
		where AuditStateId = #{auditstateid,jdbcType=INTEGER}
		and
		Auditor1Id = #{auditor1id,jdbcType=INTEGER}
		and Auditor2Id =
		#{auditor2id,jdbcType=INTEGER}
		and DearerId =
		#{dearerid,jdbcType=INTEGER}
		and Id = #{id,jdbcType=INTEGER}
		and
		InvoiceDetailsId = #{invoicedetailsid,jdbcType=INTEGER}
		and
		InvoiceTypeId = #{invoicetypeid,jdbcType=INTEGER}
		and OperatorId =
		#{operatorid,jdbcType=INTEGER}
		and ProverId =
		#{proverid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByPrimaryID" parameterType="com.ztyj6.fs.model.InvoiceKey">
		delete from
		Invoice
		where Id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ztyj6.fs.model.Invoice">
		insert into Invoice
		(AuditStateId, Auditor1Id, Auditor2Id,
		DearerId, Id, InvoiceDetailsId,
		InvoiceTypeId, OperatorId, ProverId,
		CreateDate, OccurDate, Content,
		Money, Penalty, Description,
		ProjectName, PhotoUrl, Remark
		)
		values
		(#{auditstateid,jdbcType=INTEGER}, #{auditor1id,jdbcType=INTEGER},
		#{auditor2id,jdbcType=INTEGER},
		#{dearerid,jdbcType=INTEGER},
		#{id,jdbcType=INTEGER}, #{invoicedetailsid,jdbcType=INTEGER},
		#{invoicetypeid,jdbcType=INTEGER}, #{operatorid,jdbcType=INTEGER},
		#{proverid,jdbcType=INTEGER},
		#{createDate,jdbcType=TIMESTAMP},
		#{occurDate,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR},
		#{money,jdbcType=DECIMAL}, #{penalty,jdbcType=DECIMAL},
		#{description,jdbcType=VARCHAR},
		#{projectName,jdbcType=VARCHAR},
		#{photoUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ztyj6.fs.model.Invoice">
		insert into Invoice
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="auditstateid != null">
				AuditStateId,
			</if>
			<if test="auditor1id != null">
				Auditor1Id,
			</if>
			<if test="auditor2id != null">
				Auditor2Id,
			</if>
			<if test="dearerid != null">
				DearerId,
			</if>
			<if test="id != null">
				Id,
			</if>
			<if test="invoicedetailsid != null">
				InvoiceDetailsId,
			</if>
			<if test="invoicetypeid != null">
				InvoiceTypeId,
			</if>
			<if test="operatorid != null">
				OperatorId,
			</if>
			<if test="proverid != null">
				ProverId,
			</if>
			<if test="createDate != null">
				CreateDate,
			</if>
			<if test="occurDate != null">
				OccurDate,
			</if>
			<if test="content != null">
				Content,
			</if>
			<if test="money != null">
				Money,
			</if>
			<if test="penalty != null">
				Penalty,
			</if>
			<if test="description != null">
				Description,
			</if>
			<if test="projectName != null">
				ProjectName,
			</if>
			<if test="photoUrl != null">
				PhotoUrl,
			</if>
			<if test="remark != null">
				Remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="auditstateid != null">
				#{auditstateid,jdbcType=INTEGER},
			</if>
			<if test="auditor1id != null">
				#{auditor1id,jdbcType=INTEGER},
			</if>
			<if test="auditor2id != null">
				#{auditor2id,jdbcType=INTEGER},
			</if>
			<if test="dearerid != null">
				#{dearerid,jdbcType=INTEGER},
			</if>
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="invoicedetailsid != null">
				#{invoicedetailsid,jdbcType=INTEGER},
			</if>
			<if test="invoicetypeid != null">
				#{invoicetypeid,jdbcType=INTEGER},
			</if>
			<if test="operatorid != null">
				#{operatorid,jdbcType=INTEGER},
			</if>
			<if test="proverid != null">
				#{proverid,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="occurDate != null">
				#{occurDate,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				#{money,jdbcType=DECIMAL},
			</if>
			<if test="penalty != null">
				#{penalty,jdbcType=DECIMAL},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="photoUrl != null">
				#{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
	</selectKey>
		
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ztyj6.fs.model.Invoice">
		update Invoice
		<set>
			<if test="createDate != null">
				CreateDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="occurDate != null">
				OccurDate = #{occurDate,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				Content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				Money = #{money,jdbcType=DECIMAL},
			</if>
			<if test="penalty != null">
				Penalty = #{penalty,jdbcType=DECIMAL},
			</if>
			<if test="description != null">
				Description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				ProjectName = #{projectName,jdbcType=VARCHAR},
			</if>
			<if test="photoUrl != null">
				PhotoUrl = #{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				Remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where AuditStateId = #{auditstateid,jdbcType=INTEGER}
		and Auditor1Id =
		#{auditor1id,jdbcType=INTEGER}
		and Auditor2Id =
		#{auditor2id,jdbcType=INTEGER}
		and DearerId =
		#{dearerid,jdbcType=INTEGER}
		and Id = #{id,jdbcType=INTEGER}
		and
		InvoiceDetailsId = #{invoicedetailsid,jdbcType=INTEGER}
		and
		InvoiceTypeId = #{invoicetypeid,jdbcType=INTEGER}
		and OperatorId =
		#{operatorid,jdbcType=INTEGER}
		and ProverId =
		#{proverid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ztyj6.fs.model.Invoice">
		update Invoice
		set
		CreateDate = #{createDate,jdbcType=TIMESTAMP},
		OccurDate =
		#{occurDate,jdbcType=TIMESTAMP},
		Content = #{content,jdbcType=VARCHAR},
		Money = #{money,jdbcType=DECIMAL},
		Penalty =
		#{penalty,jdbcType=DECIMAL},
		Description =
		#{description,jdbcType=VARCHAR},
		ProjectName =
		#{projectName,jdbcType=VARCHAR},
		PhotoUrl =
		#{photoUrl,jdbcType=VARCHAR},
		Remark = #{remark,jdbcType=VARCHAR}
		where
		AuditStateId = #{auditstateid,jdbcType=INTEGER}
		and Auditor1Id =
		#{auditor1id,jdbcType=INTEGER}
		and Auditor2Id =
		#{auditor2id,jdbcType=INTEGER}
		and DearerId =
		#{dearerid,jdbcType=INTEGER}
		and Id = #{id,jdbcType=INTEGER}
		and
		InvoiceDetailsId = #{invoicedetailsid,jdbcType=INTEGER}
		and
		InvoiceTypeId = #{invoicetypeid,jdbcType=INTEGER}
		and OperatorId =
		#{operatorid,jdbcType=INTEGER}
		and ProverId =
		#{proverid,jdbcType=INTEGER}
	</update>
	
</mapper>