<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztyj6.fs.dao.SiteMapper">
	<resultMap id="BaseResultMap" type="com.ztyj6.fs.model.Site">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="Address" property="address" jdbcType="VARCHAR" />
		<result column="CreateDate" property="createDate" jdbcType="TIMESTAMP" />
		<result column="UserId" property="userId" jdbcType="INTEGER" />
		<result column="CreatePurpose" property="createPurpose"
			jdbcType="VARCHAR" />
		<result column="ProjectName" property="projectName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		Id, Name, Address, CreateDate, UserId, CreatePurpose,
		ProjectName
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from Site
		where Id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Site
	</select>
	<select id="selectSiteByUserId" resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from Site
		where Site.id in (select SiteId from R_Site_User where R_Site_User.UserId =#{userId,jdbcType=INTEGER})
	</select>
    <select id="countBySiteName" parameterType="java.lang.String"
		resultType="int">
		select
		count(*) c
		from Site where Name =
		#{name,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from Site
		where Id = #{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from Site where Id in
		<foreach collection="list" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<insert id="insert" parameterType="com.ztyj6.fs.model.Site">
		insert into Site (Id, Name,
		Address,
		CreateDate, UserId, CreatePurpose,
		ProjectName)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{userId,jdbcType=INTEGER}, #{createPurpose,jdbcType=VARCHAR},
		#{projectName,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.ztyj6.fs.model.Site">
		insert into Site
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="address != null">
				Address,
			</if>
			<if test="createDate != null">
				CreateDate,
			</if>
			<if test="userId != null">
				UserId,
			</if>
			<if test="createPurpose != null">
				CreatePurpose,
			</if>
			<if test="projectName != null">
				ProjectName,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="createPurpose != null">
				#{createPurpose,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.ztyj6.fs.model.Site">
		update Site
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				Address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CreateDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				UserId = #{userId,jdbcType=INTEGER},
			</if>
			<if test="createPurpose != null">
				CreatePurpose = #{createPurpose,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				ProjectName = #{projectName,jdbcType=VARCHAR},
			</if>
		</set>
		where Id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.ztyj6.fs.model.Site">
		update Site
		set
		Name = #{name,jdbcType=VARCHAR},
		Address = #{address,jdbcType=VARCHAR},
		CreateDate = #{createDate,jdbcType=TIMESTAMP},
		UserId =
		#{userId,jdbcType=INTEGER},
		CreatePurpose =
		#{createPurpose,jdbcType=VARCHAR},
		ProjectName =
		#{projectName,jdbcType=VARCHAR}
		where Id = #{id,jdbcType=INTEGER}
	</update>

	<sql id="SiteUser_Base_Column_List">
		Id,SiteId,UserId,PostId
	</sql>
	<insert id="insertUserSite">
		insert into R_Site_User (SiteId, UserId,
		PostId)
		values (
		#{map.siteId,jdbcType=INTEGER},
		#{map.userId,jdbcType=INTEGER},
		#{map.postId,jdbcType=INTEGER}
		)
	</insert>

	<delete id="deleteUserSite">
		delete from R_Site_User
		where
		R_Site_User.SiteId =
		#{siteId,jdbcType=INTEGER}
		and
		R_Site_User.UserId =
		#{userId,jdbcType=INTEGER}
	</delete>

	<delete id="deleteBatchUserSite">
		delete from R_Site_User
		where
		SiteId = #{siteId,jdbcType=INTEGER}
		and
		UserId in
		<foreach collection="ids" item="userId" open="(" separator=","
			close=")">
			#{userId}
		</foreach>
	</delete>
	<resultMap id="userResultMap" type="com.ztyj6.fs.model.Site"
		extends="BaseResultMap">
		<collection property="users" javaType="list"
			ofType="com.ztyj6.fs.model.User">
			<id property="id" column="id" />
			<result property="username" column="username" />
			<result property="password" column="password" />
			<result property="realname" column="realname" />
			<result property="phone" column="phone" />
			<result property="email" column="email" />
			<result property="lastLoginDate" column="lastLoginDate" />
			<result property="lastLoginIp" column="lastLoginIp" />
			<result property="balanceId" column="balanceId" />
		</collection>
		<collection property="posts" javaType="list"
			ofType="com.ztyj6.fs.model.Post">
			<id property="id" column="postId" />
			<result property="name" column="postName" />
		</collection>
	</resultMap>
	<select id="selectUsersByPage" resultMap="userResultMap">
		SELECT
		User.Id id,
		User.UserName username, 
		User.Password password,
		User.RealName realName,
		User.Phone phone,
		User.Email email,
		User.LastLoginDate lastLoginDate,
		User.LastLoginIp lastLoginIp,
		User.BalanceId balanceId,
		Post.Id postId,
		Post.Name postName
		FROM
		User
		JOIN R_Site_User ON R_Site_User.UserId = User.Id 
        JOIN Post ON Post.Id = R_Site_User.PostId
        JOIN Site ON R_Site_User.SiteId = Site.Id
	    where Site.Id = #{siteId,jdbcType=INTEGER}
	</select>
	<select id="countByUserIdAndSiteId" resultType="int">
		select
		count(*) c
		from R_Site_User where 
		SiteId =#{siteId,jdbcType=INTEGER} 
		and UserId =#{userId,jdbcType=INTEGER}
	</select>
	<select id="selectUserIdByUserName" resultType="int">
	    select Id from User where User.UserName =#{userName,jdbcType=VARCHAR}
	</select>
	
</mapper>